# Git
.git
.gitignore

# Python
**/__pycache__/
**/.venv/
**/*.pyc
**/*.pyo
**/*.pyd
.env
.venv

# Node / Frontend
**/node_modules/
**/dist/
**/build/
.eslintcache

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.log